body
{
    font-family: 'PT Serif', serif;
}
.bg-yellow 
{
background-color: #FFC017;
}
.border-bottom-dark
{
    border-bottom: 1px solid #414141;
}
.timeadd
{
    font-size: 13px;
}
.font-face {
    font-family: "Nexa";
    src: url("Nexa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}